<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518078161492-kdl59sm0igidq5pl2h5f0t7btb5na0k2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518078161492-kdl59sm0igidq5pl2h5f0t7btb5na0k2</string>
	<key>API_KEY</key>
	<string>AIzaSyC79Z-pKSw8rl0Xk-g1-Vl-m3TLOCprly4</string>
	<key>GCM_SENDER_ID</key>
	<string>518078161492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MyFirstApp.newEssayProject</string>
	<key>PROJECT_ID</key>
	<string>newessayproject</string>
	<key>STORAGE_BUCKET</key>
	<string>newessayproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518078161492:ios:a59e763697a2161ad183c1</string>
</dict>
</plist>